.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem;
    margin-top: -20vh;
}
.section-skills{
    padding: 20rem 0;
   /* background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-grey-light-1, 0.8)),
        url(../img/bgd-skill.jpeg);*/
       // background-size: cover;
      
        transform: skewY(-7deg);
        margin-top: -10rem;

        & > * {
            transform: skewY(7deg);
        }
    
}
.section-education{
    background-color: $color-black;
    padding: 25rem;
    margin-top: -20vh;
}
.section-projects{
    background-color: $color-grey-light-1;
    padding: 25rem;
    margin-top: -20vh;
}